.blog {
  background-image: linear-gradient(to top left, #00800078, #0000ff76);
}

.blog-cont {
  margin-top: 10rem;
}
.det-cont {
  display: flex;
  width: 100%;
  gap: 3rem;
  margin-bottom: 6rem;
}
.img-container {
  width: 50%;
  position: relative;
}

.img-container > h1 {
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  top: -4rem;
  z-index: -10;
  color: rgba(125, 114, 114, 0.715);
}
.img-container > img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.img-det {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 45%;
  gap: 1rem;
}

.img-det > :nth-child(1) {
  font-size: 1.3rem;
  font-weight: bold;
}
.img-det > :nth-child(3) {
  font-size: 1rem;
  position: relative;
}
.img-det > :nth-child(3)::after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 1px;
  background-color: black;
  top: 8px;
  right: 15rem;
}
@media screen and (max-width: 768px) {
  .det-cont {
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-bottom: 6rem;
    flex-direction: column;
  }
  .img-det {
    width: 100%;
  }
  .img-container {
    width: 100%;
  }
  .blog-cont {
    padding: 0 1rem;
  }
}
